<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite">
    <test name="Test">
        <parameter name = "myName" value="Ihor"/>
        <groups>
            <define name = "not all">
                <include name = "group 1"/>
                <include name = "group 2"/>
            </define>

            <run>
                <include name = "group 1"/>
            </run>
        </groups>
        <classes>
            <class name="test.java.example.simpleTest"/>
            <class name="test.java.example.TestClassOne"/>
            <class name = "test.java.example.TestClassTwo" />
            <class name = "test.java.example.TestClassThree" />
        </classes>
    </test>
</suite>